<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- 
            DATABASE CONNECTION CONFIGURATION
            ============================================
            
            Update the connectionString below with your MySQL server details:
            
            FOR LOCAL DATABASE (Same PC):
            Server=localhost;Port=3306;Database=LMS_DB;Uid=root;Pwd=YOUR_PASSWORD;CharSet=utf8;
            
            FOR REMOTE DATABASE (Different PC/Server):
            Server=IP_ADDRESS_OR_HOSTNAME;Port=3306;Database=LMS_DB;Uid=USERNAME;Pwd=PASSWORD;CharSet=utf8;
            
            Parameters:
            - Server: MySQL server address (localhost, IP, or hostname)
            - Port: MySQL port (default: 3306)
            - Database: Database name (LMS_DB)
            - Uid: MySQL username
            - Pwd: MySQL password
            - CharSet: Character encoding (utf8)
            
            Example for local:
            connectionString="Server=localhost;Port=3306;Database=LMS_DB;Uid=root;Pwd=Admin123!;CharSet=utf8;"
            
            Example for remote:
            connectionString="Server=192.168.1.100;Port=3306;Database=LMS_DB;Uid=library_user;Pwd=SecurePass123;CharSet=utf8;"
        -->
        <add name="MySQLConnection" connectionString="Server=localhost;Port=3306;Database=LMS_DB;Uid=root;Pwd=YOUR_PASSWORD_HERE;CharSet=utf8;" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

