<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <connectionStrings>
        <!-- MySQL Connection String -->
        <add name="MySQLConnection"
             connectionString="Server=localhost;Database=LibraryManagementDB;Uid=root;Pwd=Admin123!;Port=3306;CharSet=utf8;Connection Timeout=30;Command Timeout=30;"
             providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>